.bg-custom-gradient {
  background: radial-gradient(
      76.16% 76.16% at 31.97% 19.67%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    ),
    #00a7e1;
  box-shadow: 4px 38px 62px 0px rgba(0, 0, 0, 0.1);
}
.bg-custom-gradient:hover {
  background: radial-gradient(
      76.16% 76.16% at 31.97% 19.67%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    ),
    #0188b5bd;
  opacity: 0.9;
}
